
.event-organizer {
	@include grid-row();
}

.event-organizer-image {
	@include grid-col(2 of 12);
	padding-left: 0 !important;
}

.event-organizer-details {
	@include grid-col(10 of 12, 0);
}

.event-organizer-social {
	float: right;

	a {
		text-transform: uppercase;
		color: $dark-gray;
		font-size: rem-calc(11);
		margin-left: rem-calc(15);

		&:hover {
			text-decoration: underline;
		}

		i {
			color: $primary-color;
			margin-right: rem-calc(10);
			font-size: rem-calc(13);
		}
	}
}

.event-organizer-title {
	float: left;
	margin-bottom: 0px;
}

.event-organizer-content {
	float: left;
	width: 100%;
	margin-top: rem-calc(10);

	p:last-child {
		margin-bottom: 0;
	}
}
