
.fields-container {
	border: 2px solid $border-color;
}

.fields-row {
	@include grid-row();
	border-bottom: 2px solid $border-color;

	&:last-child {
		border-bottom: none;
	}
}

form {
	> .form-submit-button {
		margin-top: rem-calc(25);
		margin-bottom: 0;
	}
}

.field {
	position: relative;
	border-right: 2px solid $border-color;

	&:last-child {
		border-right: none;
	}

	&.one-third {
		@include grid-col(33%, 0);

		&:nth-child(3) {
			@include grid-col(34%, 0);
		}
	}

	&.full {
		@include grid-col(3 of 3, 0);
	}

	input, textarea, select {
		@include scut-padding( rem-calc(12) rem-calc(18) );
		margin: 0px;
		border: none;
		outline: none;
    	box-shadow: none;
    	background: none;
    	height: rem-calc(48);

    	font-weight: normal;
    	font-size: rem-calc(13);

    	&:focus {
    		border: none;
    	}
	}

	textarea {
		height: auto;
	}

	i {
		@include scut-center-transform(y);
		right: rem-calc(15);
		position: absolute;
		color: $primary-color;
	}
}

.field-buttons {
	@include grid-row();
	float: right;
	position: relative;
	top: -2px;
	border: 1px solid $border-color;

	button {
		float: right;
		border-width: 1px !important;
		margin: 0px;
	}
}

.radio-field {
	padding-left: rem-calc(18);
}
.radio-input {
	@include scut-margin( rem-calc(11) rem-calc(10) rem-calc(11) rem-calc(10) );
	display: inline-block;

	input {
		display: none;
	}

	label {
		position: relative;
		margin-right: 0px;
		font-size: rem-calc(13);
		color: $blue-gray;

		&:before {
			@include scut-center-transform(y);
			@include scut-size( rem-calc(12) );
			left: -18px;
			content: '';
			position: absolute;
			border-radius: 50%;
			border: 2px solid $dark-gray;
		}
	}

	input:checked + label {

		&:after {
			@include scut-center-transform(y);
			@include scut-size( rem-calc(4) );
			left: -14px;
			content: '';
			position: absolute;
			border-radius: 50%;
			background: $dark-gray;
		}

	}

}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.form-fields-container {
	@include grid-row();
	margin-left: rem-calc(-15);
	margin-right: rem-calc(-15);
}

.form-field {
	@include grid-col(12);
	margin-bottom: rem-calc(30);

	&.one-third {
		@include grid-col(4);
	}
}

.form-field-container {
	border: 2px solid $border-color;
	position: relative;
	height: rem-calc(43);

	.radio-input:nth-child(1) {
		margin-left: rem-calc(25) !important;
	}

	.radio-input {
		margin-top: rem-calc(8) !important;
		margin-bottom: rem-calc(8) !important;
	}

	.inputfile-label {
		@include scut-margin( rem-calc(9) rem-calc(0) );
		font-size: rem-calc(12);
		color: $blue-gray;
		margin-left: rem-calc(50);
	}
	.inputfile-browse {
		@include scut-padding( rem-calc(10) rem-calc(10) );
		position: absolute;
		background: $primary-color;
		color: $white;
		right: -2px;
		top: -2px;
		height: calc( 100% + 4px );
	}
	.inputfile-image {
		overflow: hidden;
		position: absolute;
		left: -2px;
		top: -2px;
		height: calc( 100% + 4px );
		width: 43px;
	}

	input, textarea {
		@include scut-padding(n rem-calc(15));
		font-size: rem-calc(12);
		border: none;
		box-shadow: none;
		margin: 0px;

		&:active, &:focus {
			border: none;
		}
	}

	i {
		@include scut-center-transform(y);
		right: rem-calc(13);
		color: $primary-color;
	}
}

.type-text-area {
	.form-field-container {
		height: auto;
	}
}