//
// BaseType
//

@import '../../toolkit/fonts/Montserrat/stylesheet.css';

$font-family: 'Montserrat', sans-serif;
$base-font-family: $font-family;
$sans-font-family: $font-family;
$body-font-family: $font-family;
$sans-font-family-semibold: $font-family;
$sans-font-family-bold: $font-family;
$alt-font-family: "Montserrat", Helvetica, Arial, Verdana, sans-serif;
$serif-font-family: "Droid Serif", Georgia, Times, serif;
$fancy-serif-font-family: $serif-font-family;

$base-font-size:      13px;
$base-line-height:    21px;

// Fixed Mobile font sizes
$h1-font-size: rem-calc(32);
$h2-font-size: rem-calc(24);
$h3-font-size: rem-calc(22);
$h4-font-size: rem-calc(20);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;

// Fixed Desktop font sizes
$h1-font-size-large: rem-calc(40);
$h2-font-size-large: rem-calc(28);
$h3-font-size-large: rem-calc(24);

$font-weight-normal: 400;
$type-weight: (
	light: 300,
	regular: 400,
	semi: 600,
	bold: 700,
	black: 800
);

// Color
// - - - - - - - - - - - - - - - - - - - - - - - - -
//

// Brand Colors
$primary-color:     #00bed5;
$secondary-color:   #e67e22;
$attention:         #5fb8c5;
$primary:           $primary-color;
$secondary:         $secondary-color;

$success-color:     #63c848;
$alert-color:       #e31c3d;
$warn:              #eec134;
$success:           $success-color;
$alert:             $alert-color;
$warning-color:     $warn;

// This is a Sass map. It is neat.
// It's similar to a JSON array, with key value pairs.

$colors: (
	primary: $primary,
	secondary: $secondary,
	attention: $attention,
	alert: $alert,
	success: $success,
	warn: $warn,
);
