---
hero_image: 'hero-event.jpg'
hero_big: true
---

{{#content "hero-content" mode="replace" }}
	<div class="event-hero-content">
		<div class="event-hero-content-date">
			<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
			27 May 2016 / 11:50 AM
		</div>

		<div class="event-hero-content-location">
			<i class="fa fa-map-marker"></i>
			Pallati i Rinise, Prishtine
		</div>

		<h1 class="event-hero-content-title">TEDx Pristina 2016</h1>

		<h6 class="event-hero-content-subtitle">By American University of Kosovo</h6>
	</div>
{{/content }}

{{> header }}

<div class="content-area">
	<div class="content-area-sidebar">

		<div class="sidebar-area">

			<div class="sidebar-section icon-boxes horizontal">
				<div class="icon-box-column">
					<a href="#" class="icon-box">
						<div class="icon-box-content">
							<i class="fa fa-heart"></i>
							<div class="icon-box-label">Favorite</div>
						</div>
					</a>
				</div>

				<div class="icon-box-column">
					<a href="#" class="icon-box">
						<div class="icon-box-content">
							<i class="fa fa-share"></i>
							<div class="icon-box-label">Share It</div>
						</div>
					</a>
				</div>
			</div>

			<div class="sidebar-section no-border">
				<div class="sidebar-map">
					<div class="google-map"></div>
				</div>
			</div>


			<div class="sidebar-section button">
				Register
			</div>


			<div class="sidebar-section content detail-item">
				<i class="fa fa-map-marker"></i>
				<div class="detail-item-content">Prishtine</div>
			</div>

			<div class="sidebar-section content detail-item">
				<i class="fa fa-location-arrow"></i>
				<div class="detail-item-content">Pallati i Rinise<br>Salla e Kuqe nr.43</div>
			</div>

			<div class="sidebar-section content detail-item">
				<i class="fa fa-clock-o"></i>
				<div class="detail-item-content">08:00 AM - 12:00 PM</div>
			</div>

			<div class="sidebar-section content detail-item">
				<i class="fa fa-group"></i>
				<div class="detail-item-content">250 Seats / 14 Remaining</div>
			</div>

			<div class="sidebar-section content detail-item">
				<i class="fa fa-dollar"></i>
				<div class="detail-item-content">Falas</div>
			</div>

		</div>


		<div class="sidebar-area">
			<a href="#" class="sidebar-section content detail-item">
				<i class="fa fa-cog"></i>
				<div class="detail-item-content">Modify<br> This Event</div>
			</a>
		</div>

	</div>
	<div class="content-area-main">

		<div class="content-sections">
			<div class="content-section">

				<p>This week reminded me again of how refreshing attending a conference can be. As mentioned, I was at beyondtellerrand and, apart from meeting new people, I mostly enjoyed the inspiration I got from listening...</p>

				<p>I realized how I might be able to solve a few things that had led to me being unhappy with my work in the past. My trying-to-change-everything-at-once strategy always failed, and seeing that some people just change small things and succeed, I recognized that this is what I want to try over the next months. And I’m happy that I don’t need to do this alone but have some friends who spent nearly the entire Monday night talking with me about how to do more meaningful work.</p>

				<div class="images-container">
					<div class="images-container-column">

						<div class="image-container">
							<img src="{{image baseurl 'single-event-image-1.jpg' }}">
						</div>

					</div>
					<div class="images-container-column">

						<div class="image-container">
							<img src="{{image baseurl 'single-event-image-2.jpg' }}">
						</div>

					</div>
				</div>

				<p></p>

				<p>Every icon set submitted to Iconfinder is reviewed and evaluated for potential appeal to our website users and for potential commercial value as premium icons. When reviewing icon sets submitted to the website, we have a responsibility to our designers and to our customers to make sure all premium icons on the website are of the highest possible quality. To achieve this, we are constantly aware of the difference between “not quite good enough” and “premium quality.” The difference is often very small and usually requires minimal changes, but it has a great impact on the design and value of the icon set. Unlike many other marketplaces, we rarely reject sets that don’t quite meet our quality requirements outright. Instead, we will share very specific.</p>

				<p>This article discusses a set of design guidelines in six steps. The steps follow the basics of sound icon design, including consistency, legibility and clarity. The principles of effective icon design have been discussed at length by icon designer John Hicks of Hicks Design in his book The Icon Handbook, as well as by Google in its material design guidelines for system icons. The six steps discussed in this article should be seen as a guide, not a dogmatic list of rules. Part of becoming a great designer is learning when to break the rules and when to follow them, as we will demonstrate here.</p>

			</div>
			<div class="content-section">

				<div class="event-organizer">
					<div class="event-organizer-image">
						<img src="{{image baseurl 'event-organizer.png' }}">
					</div>
					<div class="event-organizer-details">
						<h6 class="event-organizer-title purple-heading">American University of Kosovo</h6>

						<div class="event-organizer-social">
							<a href="#"><i class='fa fa-link'></i> Website</a>
							<a href="#"><i class='fa fa-facebook'></i> Facebook</a>
						</div>

						<div class="event-organizer-content">
							<p>John Hicks of Hicks Design in his book The Icon Handbook, as well as by Google in its material design guidelines for system icons. The six steps discussed in this article should be seen as a guide, not a dogmatic list of rules. Part of becoming a great designer is learning.</p>
						</div>
					</div>
				</div>

			</div>
			<div class="content-section">
				<h6 class="purple-heading">contact the event administrator</h6>
				<p>In order to get a ticket, or get more information on the event, please contact the author of the event</p>

				<form action="#">

					<div class="fields-container">

						<div class="fields-row">

							<div class="field one-third">
								<input type="text" name="name" placeholder="Name">
								<i class="fa fa-user"></i>
							</div>

							<div class="field one-third">
								<input type="email" name="email" placeholder="Email">
								<i class="fa fa-envelope"></i>
							</div>

							<div class="field one-third">
								<input type="text" name="phone" placeholder="Phone">
								<i class="fa fa-phone"></i>
							</div>

						</div>

						<div class="fields-row">

							<div class="field full">
								<textarea name="message" placeholder="Your message goes here..." rows="5"></textarea>
							</div>

						</div>

					</div>

					<div class="field-buttons">
						<button type="submit" class="button hollow wide">SEND</button>
						<button type="reset" class="button hollow wide">RESET</button>
					</div>

				</form>
			</div>
		</div>

	</div>
</div>

{{> footer }}
