
{{#content "hero-content" mode="replace" }}
	<h1 class="hero-title">my<br>profile</h1>
{{/content }}

{{> header }}


<div class="content-area" data-xtabs>
	<div class="content-area-sidebar">

		<div class="sidebar-area">

			<div class="sidebar-section sidebar-profile">
				<img src="{{image baseurl 'profile-image.jpg'}}" class="sidebar-profile-image">
				<div class="sidebar-profile-data">
					<span class="sidebar-profile-username">Arian Selimaj</span>
					<span class="sidebar-profile-company">AUK Kosova</span>
				</div>
			</div>


			<a class="sidebar-section button-icon active" href="#account-settings" data-xtab>
				<i class="fa fa-cog"></i>
				Account Settings
			</a>

			<a class="sidebar-section button-icon" href="#my-events" data-xtab>
				<i class="fa fa-hourglass-3"></i>
				My Events
			</a>

			<a class="sidebar-section button-icon" href="#my-favorites" data-xtab>
				<i class="fa fa-heart"></i>
				My Favorites
			</a>

		</div>

	</div>
	<div class="content-area-main">

		<div data-xtab-content id="account-settings">

			<div class="content-sections">
				<div class="content-section">

					<h4 class="page-title-heading">Account Settings</h4>

					<p>Eventbrite account since Feb 22, 2014</p>

					<form action="#">

						<div class="form-fields-container">
              <div class="form-field full">
								<div class="form-field-container">
									<input type="text" name="name" placeholder="Name">
									<i class="fa fa-user"></i>
								</div>
							</div>
							
              <div class="form-field one-third">
								<div class="form-field-container">
									<input type="email" name="email" placeholder="E-mail">
									<i class="fa fa-at"></i>
								</div>
							</div>
							
              <div class="form-field one-third">
								<div class="form-field-container">
									<input type="password" name="password" placeholder="New Password">
									<i class="fa fa-unlock-alt"></i>
								</div>
							</div>

              <div class="form-field one-third">
								<div class="form-field-container">
									<input type="password" name="password"
                  placeholder="Confirm Password">
									<i class="fa fa-unlock"></i>
								</div>
							</div>

							<div class="form-field medium-6">
								<div class="form-field-container">
									<input type="text" name="" placeholder="Birthdate">
									<i class="fa fa-calendar-o"></i>
								</div>
							</div>
							<div class="form-field medium-6">
								<div class="form-field-container">
									<input type="text" name="" placeholder="Age">
									<i class="fa fa-meh-o"></i>
								</div>
							</div>

							<div class="form-field full">
								<div class="form-field-container">
									<div class="inputfile-image">
										<img src="{{image baseurl 'profile-image.jpg'}}" class="sidebar-profile-image">
									</div>
									<input type="file" class="inputfile" id="photo" name="photo" placeholder="Photo">
									<label for="photo" class="inputfile-label">
										<span>Image/Logo</span>
										<div class="inputfile-browse">Browse</div>
									</label>
								</div>
							</div>
							<div class="form-field one-third">
								<div class="form-field-container">
                  <select class="hide-arrow-select">
                    <option value="" disabled selected>Select your option</option>
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                    <option value="2">Other</option>
</select>
									<i class="fa fa-hand-o-left"></i>
								</div>
							</div>
							<div class="form-field one-third">
								<div class="form-field-container">
									<input type="text" name="phone" placeholder="Phone">
									<i class="fa fa-mobile"></i>
								</div>
							</div>
							<div class="form-field one-third">
								<div class="form-field-container">
									<input type="text" name="gender" placeholder="Website">
									<i class="fa fa-link"></i>
								</div>
							</div>

							<div class="form-field type-text-area">
								<div class="form-field-container">
									<textarea name="biography" placeholder="Your biography or company profile (512 characters max)" rows="5"></textarea>
								</div>
							</div>

							<div class="form-field">
								<div class="field-buttons">
									<button type="submit" class="button hollow wide">SEND</button>
									<button type="reset" class="button hollow wide">RESET</button>
								</div>
							</div>
						</div>

					</form>

				</div>
			</div>

		</div>

		<div data-xtab-content id="my-events">
		Events
		</div>

		<div data-xtab-content id="my-favorites">
		Favorites
		</div>

	</div>
</div>

{{> footer }}
